apiVersion: apps/v1
kind: Deployment
metadata:
  name: node
  labels:
    app: node
spec:
  replicas: 4
  selector:
    matchLabels:
      app: node
  template:
    metadata:
      labels:
        app: node
    spec:
      containers:
      - name: node
        image: node-app:1.7.0
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 3001
        env:
          - name: PORT
            valueFrom:
              configMapKeyRef:
                key: port
                name: node-config-map
          - name: MYSQL_HOST
            valueFrom:
              configMapKeyRef:
                key: host
                name: mysql-config-map
          - name: MYSQL_PORT
            valueFrom:
              configMapKeyRef:
                key: port
                name: mysql-config-map
          - name: MYSQL_USER
            valueFrom:
              configMapKeyRef:
                key: username
                name: mysql-config-map
          - name: MYSQL_DATABASE
            valueFrom:
              configMapKeyRef:
                key: database
                name: mysql-config-map
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                key: password
                name: mysql-secret

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: node-config-map
data:
  port: "3001"

---

apiVersion: v1
kind: Service
metadata:
  name: node-service
  labels:
    app: node
spec:
  selector:
    app: node
  ports:
    - port: 8001
      targetPort: 3001
      protocol: TCP
  type: LoadBalancer
